@using Xolartek.Web.Extensions
@using Xolartek.Web.Models
@model ViewModel
@{
    ViewBag.Title = "Home";
}
@section header {
    
}
<div class="container">
    <div class="row">
        <div class="col-12"><h4>Knockout</h4></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="pnlMessage"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                @Html.LabelFor(model => model.Firstname, new { @class = "col-md-4 col-form-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Lastname, new { @class = "col-md-4 col-form-label" })
                <div class="col-md-7">
                    @Html.KoTextBoxFor(model => model.Lastname, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Sex, new { @class = "col-md-4 col-form-label" })
                <div class="col-md-7">
                   @Html.KoDropDownListFor(model => model.Sex, new SelectList(Enum.GetValues(typeof(Gender))), " ", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
<script>
    var viewmodel = @Html.Raw(Json.Encode(Model));
    viewmodel = ko.mapping.fromJS(viewmodel);
    ko.applyBindings(viewmodel);
</script>
<script type="text/javascript" src="~/scripts/typescripts/main.js"></script>
}
